@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
  margin-left: 100px;
  background-color: transparent !important; 
}

.navbar {
  box-shadow: none;
}
.navbar-brand:hover {
  color: #FFCA93 !important;
}

.nav-link:hover {
  color: #FFCA93 !important;
}

button.btn-outline-dark {
  border-color: solid 2px #390510; 
  color: #390510; 
  

  &:hover {
    background-color: #FFCA93 !important; 
    color: #fffaf0 !important; 
    border-color: #fffaf0 !important; 
  }
}
.nav-item {
  margin-right: 0 !important; /* Remove extra spacing */
  padding-right: 10px; /* Reduce padding */
}




