@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.journey-container {
  background-color: #fffaf0;
  color: #390510;
  text-align: center;
  font-family: 'Poppins';
}

.journey-header {
  font-size: 2.75rem;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 10px;
}
