.card-container {
    background-color: #fffaf0;
    border-radius: 15px;
    padding: 20px;
    width: 290px;
    height: 370px;
    margin-left: 170px;
    flex-shrink: 0; // Prevents the card from shrinking in flexbox
  
    .card-images {
      display: flex;
      gap: 15px;
      justify-content: center;
      margin-bottom: 15px;
      padding-top: 30px;
  
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  
    .card-text {
      text-align: center;
      font-family: "Poppins", sans-serif;
      color: #390510;
  
      h1 {
        margin: 0;
        font-weight: bold;
        font-size: 30px;
        color: #390510;
      }
  
      div {
        margin-top: 10px;
        font-size: 18px;
      }
    }
  
    .card-divider {
      width: 100%;
      border-top: 2px solid #390510;
      margin: 10px 0;
    }
  
    .card-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 25px;
      color: #390510;
  
      button {
        background: transparent;
        border: none;
        cursor: pointer;
  
        img {
          width: 25px;
          background-color: transparent;
        }
      }
    }
  }
  