.landing-container {
  background-color: #FFCA93;
  padding: 20px;
  height: 70vh; // height adjusts to content
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: start;  // Ensure the items stay on the left side
  align-items: center;     // Center them vertically
}

.text-section {
  padding-left: 200px;  // Adjust padding for a more balanced layout
  margin-right: 20px;   // Avoids overlapping
  flex: 1;  // This will allow the text to take up available space
  max-width: 50%; // Shrink the text section to 50% of the container's width
}

.card {
  flex-shrink: 0; // Prevent shrinking of the card
  width: 290px;  // Set fixed width for the card to prevent it from stretching
  margin-left: 20px; // Space between the text and the card
}


